<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>About</title>

  <style>
    body{
      font-family: Raleway;
    }

    img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:15px; 
  </style>

  </head>
  <body>
  <div>
    <p>The Cornell University Autonomous Bicycle Project Team is a multi-disciplinary team of mechanical engineering, electrical engineering, and computer science students working together to build a robotic bicycle with the ability to balance itself the same way a person balances on a bicycle: using steering manipulation. We hope to set a world record for maintaining stability while motionless (track-stand) for the longest time. Not only is our bicycle highly stable at low speeds but it can also easily recover from external forces. Through the use of GPS and image processing, we aim for the bike to be navigationally autonomous and travel unassisted around Cornell campus. In short, we are working to create the world’s best autonomous bicycle by achieving these goals: track-standing, autonomous navigation, and low-speed stability despite disturbances.</p>
    <img class="displayed" src="/images/bike1.jpg"/ width=400>
    <p>As a part of the mechanical team, students have the chance to learn about bicycles and how they work. They will also get hands-on experience with building and designing the various mechanical aspects of this robot. Those interested in bicycle dynamics and/or control theory may also generate simulations of the bicycle and develop different algorithms to help us better control this robot.</p>
    <p>We use a number of sensors and an Arduino Due microprocessor on our robot, so students on our electrical team have a chance to delve into both hardware and software. The CU Autonomous Bicycle project team allows its members the opportunity to expand upon what they have learned in the classroom and from more experienced students, and apply it in a hands-on laboratory setting.</p>
  </div>

  </body>
</html> 