<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>layout</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

<style>
  #nav{
    background-color: black;
    font-family: Raleway;
    width: auto !important;
  }
  body { padding-top: 70px; }


</style>

<nav class="navbar navbar-inverse navbar-fixed-top" id="nav">

    <div class="navbar-header">
      <a class="navbar-brand" href="/index">
        <span class="glyphicon glyphicon glyphicon-globe"></span>
        Autonomous Bicycle Team
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/graph">Graph</a></li>
        <li><a href="/navigation">Navigation</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Subteams</a></li>
      </ul>
    </div>
</nav>

  </head>
  <body>
    
  </body>
</html> 