<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>layout</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-globe"></span>
                Autonomous Bicycle Team
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/graph">Graph</a></li>
            <li><a href="/navigation">Navigation</a></li>
        </ul>
      </div>
</nav>
  </head>
  <body>
    
  </body>
</html> 