<html lang="en">
<head>
    <!-- <% include ../views/header %> -->
</head>
<body class="container">
    <main>
        <% include ../views/graph %>
        <!-- <% include ../views/navigation %> -->
    </main>

    
</body>
</html>