<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Subteams</title>
    <style>
    hr{
      /* https://css-tricks.com/examples/hrs/ */
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    h1{
      font-family: Raleway;
      font-size: 32px;
    }
    p{
      font-family: Open Sans;
      font-size: 14px;
      
    </style>
    
    
  </head>
  <body>
  <div id="web" class="subteam">
  <!--These descriptions are temporary until each subteam writes their own description and send images.-->
    <h1>Web</h1>
    <p>The Web subteam developed this website. We work with connected the hardware components to the server to display data from the bike for debugging. We also work with navigation by sending data from the Google Maps API to the bike.
    <hr/>
  </div>
  <div id="control" class="subteam">
    <h1>Control</h1>
    <p>This team works with control and manipulate motors to implement bike maneuvers. This semester they aim to build GPS integration, track stand, and conversion of abstract manuever commands.</p>
    <hr/>
  </div> 
  <div id="sbw" class="subteam">
    <h1>Steer by wire</h1>
    <p>The steer by wire team is making a new autonomous bicycle with different technology.</p>
    <hr/>
  </div>
  <div id="navigation" class="subteam">
    <h1>Navigation</h1>
    <p>The Nav team works to develop algorithms and software to effectively navigate the bike through waypoints and paths. They aim to navigate to the selected end point as efficiently as possible given knowledge of traversable terrain and to provide abstracted maneuver instructions to control team.</p>
    <hr/>
  </div>
  <div id="vision" class="subteam">
    <h1>Vision</h1>
    <p>The vision team's goal is to use computer vision for obstacle avoidance. They aim to use sensors to gain understanding of environment and classify traversable and non-traversable ground. </p>
    <hr/>
  </div>


  </body>
</html> 