<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Subteams</title>
  </head>
  <body>
  <div id="web" class="subteam">
  Web
  </div>
  <div id="control" class="subteam">
    Control
  </div> 
  <div id="sbw" class="subteam">
    Steer by wire
  </div>
  <div id="navigation" class="subteam">
    Navigation
  </div>
  <div id="vision" class="subteam">
    Vision
  </div>


  </body>
</html> 