<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>About</title>
<h1> Will fill page once I get team member profiles </h1>
  </head>
  <body>
  <div class="profiles">
    <div id="kaf22">
      Kyle Fenske
    </div>
    <div id="rb696">
      Rohit Bandaru
    </div>
    <div id="dem292">
      Dylan Meehan
    </div>
    <div id="oai2">
      Olav Imsdahl
    </div>
    <div id="ab873">
      Aviv Blumfield
    </div>
    <div id="jsf239">
      Jared Frank
    </div>
    <div id="dm585">
      David Miron
    </div>
    <div id="kwf37">
      Kenneth Fang
    </div>
    <div id="wsm64">
      Will Murphy
    </div>
    <div id="cdm223">
      Conrad McCarthy
    </div>
    <div id="ppm44">
      Pehuen Moure
    </div>
    <div id="fk223">
      Foteini Kriezi
    </div>
    <div id="feb45">
      Frances Bryson
    </div>
    <div id="asm692">
      Arundathi Sharma
    </div>
    <div id="michelle">
      Michelle O'Bryan
    </div>
    <div id="ad765">
      Anshuman Das
    </div>
  </div>
  </body>
</html> 