<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<h1> Will fill page once I get team member profiles </h1>
<style>

.avatar{
  object-fit: cover;
  width: 200px;
  height:200px;
  z-index:0;
  display: block;
}
.wheel{
  z-index:1;
  top:0;
  left: 10;
  position: absolute;
  display: block;
}
.member {
    padding: 25px;
    position: relative;
}
p {
  font-family: Avenir;
}
b {
  font-weight: bolder;
  font-size: 16;
}
h2 {
    margin-top: 0;
}

.shadow {
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 2px 3px #e6e6e6;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 2px 3px #e6e6e6;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 2px 3px #e6e6e6;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

</style>

<script>
//http://stackoverflow.com/questions/19097437/how-to-rotate-an-html-element-with-jquery-on-scroll-percentage
  $(document).ready(function(){
   var bodyHeight = $("body").height()-$(window).height();
   window.onscroll = function() {
      //Determine the amount to rotate by.
      var factor = 4;
      var deg = -window.scrollY*(360/bodyHeight)/factor;

      $(".wheel").css({
        "transform": "rotate("+deg+"deg)",
      });

   };
});

</script>
  </head>
  <body>
    
    <div class="member row shadow" id="kaf22">
      <div class="col-sm-5">
        <img src="/images/rb696_289.jpg" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Kyle Fenske</h2>
        <p><b>Major: </b>Operations Research & Information Engineering</p>
        <p><b>Year: </b>Sophomore '19</p>
        <p>I am the business team lead on this project team. On campus, I am an orientation leader and serve on the executive boar for my fraternity. I am interested in working in the field of consulting, supply chain management, an overall business-oriented engineering fields.</p>
      </div>
    </div>

    <div class="member row shadow" id="rb696">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Rohit Bandaru</h2>
        <p><b>Major: </b>Electrical and Computer Engineering</p>
        <p><b>Year: </b>Sophomore '19</p>
        <p>I am an engineering student who enjoys using innovative technologies for different applications. I primarily work with the web team and developed this website! I am also a member of the Cornell iGEM synthetic biology project team.</p>
      </div>
    </div>

    
    <div id="dem292">
      Dylan Meehan
    </div>
    <div class="member row shadow" id="oai2">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Olav Imsdahl</h2>
        <p><b>Major: </b>Mechanical Engineering</p>
        <p><b>Year: </b>Senior '17</p>
        <p>I enjoy working hands-on and solving problems in the lab. I'm also on the lightweight crew team and play piano. My current project is to work on a new Steer by wire bike which is my Meng Project.</p>
      </div>
    </div>
    <div id="ab873">
      Aviv Blumfield
    </div>
    <div id="jsf239">
      Jared Frank
    </div>

    <div class="member row shadow" id="dm585">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>David Miron</h2>
        <p><b>Major: </b>Electrical and Computer Engineering</p>
        <p><b>Year: </b>Sophomore '19</p>
        <p>On campus I am involved in a social fraternity and I am an Outdoor Odyssey Guide. I contribute to the Steer by Wire team by working on hardware and interaction between electronic components.</p>
      </div>
    </div>

    <div class="member row shadow" id="kwf37">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Kenneth Fang</h2>
        <p><b>Major: </b>Undecided (ECE, ME, CS)</p>
        <p><b>Year: </b>Freshman '20</p>
        <p>I am interested in robotics in general, as well as theatre design. I have been helping out with software. Aside from the team, I am also on Cornell's Wushu team and Lion Dance club. </p>
      </div>
    </div>
    <div id="wsm64">
      Will Murphy
    </div>
    <div class="member row shadow" id="cdm223">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Conrad McCarthy</h2>
        <p><b>Major: </b>Mechanical Engineering</p>
        <p><b>Year: </b>Sophomore '19</p>
        <p>I have a passion for robotics and product design. On campus I am vice president of Spark Product and Industrial Design, a researcher for the Architectural Robotics Lab and a member of Cornell's Sprint Football team. For Autonomous Bicycle, I help design and build the mechanical assembly of the steer-by-wire system for the new bicycle.</p>
      </div>
    </div>
    <div id="ppm44">
      Pehuen Moure
    </div>
    <div id="fk223">
      Foteini Kriezi
    </div>
    <div id="feb45">
      Frances Bryson
    </div>
    <div class="member row shadow" id="asm692">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Arundathi Sharma</h2>
        <p><b>Major: </b>Mechanical Engineering</p>
        <p><b>Year: </b>Senior '17</p>
        <p>After spending 1.5 years as team lead, I am spending my last semester at Cornell focusing in on my technical interests with this project: balance control, computer simulation, and bicycle dynamics. In addition to working on Bike Team, I am a member of the Language House. Aside from building robots, I like learning about food cultures, systems, and cultivation, and I enjoy picking up new languages. </p>
      </div>
    </div>
    <div id="michelle">
      Michelle O'Bryan
    </div>
    <div class="member row shadow" id="ad765">
      <div class="col-sm-5">
        <img src="#" class="img-responsive img-circle avatar">
        <img src="/images/bikewheel.png" class="img-responsive img-circle wheel">
      </div>
      <div class="col-sm-7">
        <h2>Anshuman Das</h2>
        <p><b>Major: </b>Mechanical Engineering</p>
        <p><b>Year: </b>Junior '18</p>
        <p>My interests lie mainly in studying dynamical systems and creating dynamics simulation as well as control systems design. Following these interests, I work for the Dynamics sub-team on the Artificial Gravity CubeSat project with Professor Selva, and do research with Professor Peck in working on a spacecraft simulator.  On the Controls sub-team of Autonomous Bike, I currently work on the watchdog integration in the system, and plan to work with the balance controller in the future.</p>
      </div>
    </div>

  </body>
</html> 